<div class="login">
    <div class="cont">
        <h1 id="titulo">Login</h1>
        <div class="email">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label class="fl" for="float-input">E-mail</label>
            </span>
        </div>
        <div class="senha">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label class="fl" for="float-input">Senha</label>
            </span>
        </div>
        <div id="botao">
            <button id="bt" pButton type="button" label="ENTRAR"></button>
        </div>
        <div class="cad">
            <a>Precisa de uma conta? Cadastre-se</a>
        </div>
        <div class="cad">
            <button pButton type="button" label="Criar Conta" class="p-button-help"></button>
            <button pButton type="button" label="Entrar " class="p-button-warning"><img id="google" src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"></button>
        </div>
    </div>
</div>